* {
  margin: 0;
}


.cont1 {
  /*margin-top: 10%;*/
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 16px #1e1e1e;
}


.item {
  width: 10%;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightblue;
}


/* row start/column start/row end /column end */

img {
  height: 200px;
  width: 200px;
}

/*Pantalla grande*/
.grid-container {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/*Pantalla mediana*/
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Pantalla pequeña*/
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}