.container {
    display: flex;
    /*justify-content: start;
    align-items: start;*/
    height: 100svh;
}
.item{
    width: 100px;
    height: 100px;
    /*background: lightblue;
    border: 1px solid blue;*/
    margin: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.item:first-child{
    flex: auto;
    justify-content: start;
}
.item-1{
    width: 100px;
    height: 100px;
    /*background: lightblue;
    border: 1px solid blue;*/
    margin: 10px;
    display: flex;
    flex: auto;
    align-items: center;
}
.cont1{
    /*margin-top: 10%;*/
    display: flex;
    justify-content: center;   
}
hr{
    box-shadow: 0 0 16px #1e1e1e;
}
img{
    height: 100px;
    width: 100px;
}

a{
    text-decoration: dashed;
}
a:hover {
    background-color: lightblue;
  }